<!--
<div fxLayout="column" fxFlex >
<a md-raised-button class="fa fa-google-plus-official fa-3" style="color:red" href="https://plus.google.com/116530846842676246770"
  target="_blank" rel="noopener noreferrer"> Besuche uns auf Google+</a>
</div>

<h4>Besuche uns auf</h4>
<br>
-->
<div class="flex-container">
  <!-- <img class="flex-item-icon" src="../assets/images/icons/icon-192x192.png" alt=""> -->
  <button md-button class="flex-item-icon" aria-label="Bookmark">
    <img src="../assets/images/icons/icon-128x128.png" alt="Homepage">
  </button>
</div>
<div class="header">Abteilung Billard</div>
<div class="flex-container">
  <a href="https://www.facebook.com/Billard-Snooker-Abteilung-des-TV-1876-eV-Darmstadt-Eberstadt-1524314847882754/" target="_blank"
    class="fa fa-facebook flex-item"></a>
  <a href="https://twitter.com/TVE_Billard" target="_blank" class="fa fa-twitter flex-item"></a>
  <a href="https://plus.google.com/116530846842676246770" target="_blank" class="fa fa-google-plus flex-item"></a>
  <a href="https://www.youtube.com/channel/UC6EBdKYerhlWI7Wovbt--6g" target="_blank" class="fa fa-youtube flex-item"></a>
</div>