<div class="flex-container">
  <md-card class="example-card">
    <md-card-header>
      <img md-card-avatar src="{{ (user$ | async)?.photoURL }}">
      <md-card-title>{{ (user$ | async)?.displayName }}</md-card-title>
      <md-card-subtitle>{{ (user$ | async)?.email }}</md-card-subtitle>
    </md-card-header>
    <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
    <md-card-content>
      <p>
        Statistics will appear here.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>