<div class="flex-container">
  <md-card>
    <md-card-header>
      <img md-card-avatar src="../../assets/images/logos/logo.jpg">
      <md-card-title>Turnverein 1876 e.V. Darmstadt-Eberstadt</md-card-title>
      <md-card-subtitle>Abteilung Billard</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/images/icons/icon-144x144.png">
    <md-card-content>
      <p>
        Eberstädter Marktstraße 13<br>
        64297 Darmstadt<br>
        Telefon: 06151 / 54 076<br>
      </p>
    </md-card-content>
    <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>




<div class="flex-container">
  <img class="flex-item-icon" src="../assets/images/icons/icon-96x96.png" alt="">
</div>
<div class="header">
  Abteilung Billard
</div>
<div class="text">
  Turnverein 1876 e.V. Darmstadt-Eberstadt<br> Eberstädter Marktstraße 13<br> 64297 Darmstadt<br> Telefon: 06151 / 54 076<br>
  <a href="mailto:buero@tv-eberstadt.de">buero@tv-eberstadt.de</a><br>
  <a href="http://www.tv-eberstadt.de">tv-eberstadt.de</a><br>
</div>
<div class="subheader">
  K60 Billard Lounge
</div>
<div class="location">
  <a href="http://k-60.de/" target="_blank" rel="noopener noreferrer">
  <img style="height: 200px; width: 200px; margin-top: 0px" src="../assets/images/logos/k60-green.png" alt="">
  </a>
</div>
<table align="center">
  <thead>
    <tr>
      <th colspan="2">Trainingszeiten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Montag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Sonntag</td>
      <td>17:00 - 20:00 Uhr</td>
    </tr>
  </tbody>
</table>