<div class="header">
  TV 1876 e.V.
  <br>
  Darmstadt-Eberstadt
  <br>
  Abteilung Billard
</div>
<div class="location">
  <a href="http://k-60.de/" target="_blank" rel="noopener noreferrer">
  <img style="height: 200px; width: 200px; margin-top: 10px" src="../assets/images/logos/k60-green.png" alt="">
  </a>
</div>
<table align="center">
  <thead>
    <tr>
      <th colspan="2">Trainingszeiten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Montag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>18:00 - 22:00 Uhr</td>
    </tr>
    <tr>
      <td>Sonntag</td>
      <td>17:00 - 20:00 Uhr</td>
    </tr>
  </tbody>
</table>