.header {
    margin-top: 20px;
    text-align: center;
    color: #4caf50;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.location {
    margin-top: 20px;
    text-align: center;
    color: #4caf50;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
