<div class="md-container">
  <md-card class="md-card">
    <md-card-header>
      <img md-card-avatar src="../../assets/images/logos/logo.jpg">
      <md-card-title>TV 1876 e.V. Darmstadt-Eberstadt</md-card-title>
      <md-card-subtitle>Abteilung Billard</md-card-subtitle>
    </md-card-header>
    <img md-card-image class="md-card-image" src="../../assets/images/icons/icon-384x384.png">
    <md-card-content>
      <table align="center">
        <thead>
          <tr>
            <th colspan="2">Trainingszeiten Poolbillard</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Montag</td>
            <td>18:00 - 22:00 Uhr</td>
          </tr>
          <tr>
            <td>Dienstag</td>
            <td>18:00 - 22:00 Uhr</td>
          </tr>
          <tr>
            <td>Donnerstag</td>
            <td>18:00 - 22:00 Uhr</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table align="center">
        <thead>
          <tr>
            <th colspan="2">Trainingszeiten Snooker</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sonntag</td>
            <td>17:00 - 20:00 Uhr</td>
          </tr>
        </tbody>
      </table>
      <div class="my-card-button-container">
        <a md-raised-button href="http://www.tveb.de" target="_blank" class="fa fa-tveb my-card-button">
          <i class="material-icons">home</i>
        </a>
        <!--
        <a md-raised-button href="tel:+49615154076" class="fa fa-tveb my-card-button">
          <i class="material-icons">phone</i>
        </a>
        -->
        <a md-raised-button href="mailto:vorstand@billard-in-darmstadt.de" class="fa fa-tveb my-card-button">
          <i class="material-icons">mail</i>
        </a>
        <!--
        <a md-raised-button href="https://www.google.de/maps/place/Turnverein+1876+e.V./@49.8188644,8.6443768,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd7b1d9d1609c9:0x3d880eed394251a3!8m2!3d49.8188644!4d8.6465708"
          target="_blank" class="fa fa-tveb my-card-button">
          <i class="material-icons">navigation</i>
        </a>
        -->
      </div>
      <div class="my-card-button-container">
        <a md-raised-button href="https://www.facebook.com/Billard-Snooker-Abteilung-des-TV-1876-eV-Darmstadt-Eberstadt-1524314847882754/"
          target="_blank" class="fa fa-facebook my-card-button"></a>
        <a md-raised-button href="https://twitter.com/TVE_Billard" target="_blank" class="fa fa-twitter my-card-button"></a>
        <a md-raised-button href="https://plus.google.com/116530846842676246770" target="_blank" class="fa fa-google-plus my-card-button"></a>
        <a md-raised-button href="https://www.youtube.com/channel/UC6EBdKYerhlWI7Wovbt--6g" target="_blank" class="fa fa-youtube my-card-button"></a>
      </div>
    </md-card-content>
  </md-card>
</div>



<div class="md-container">
  <md-card class="md-card">
    <md-card-header>
      <img md-card-avatar src="assets/images/logos/k60-green.png">
      <md-card-title>K60</md-card-title>
      <md-card-subtitle>Billard Lounge Darmstadt</md-card-subtitle>
    </md-card-header>
    <img md-card-image class="md-card-image" src="assets/images/logos/k60-green.png">
    <md-card-content>
      <table align="center">
        <thead>
          <tr>
            <th colspan="2">Öffnungszeiten</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Montag - Freitag</td>
            <td>17:00 - 1:00 Uhr</td>
          </tr>
          <tr>
            <td>Samstag - Sonntag</td>
            <td>14:00 - 1:00 Uhr</td>
          </tr>
        </tbody>
      </table>
      <div class="my-card-button-container">
        <a md-raised-button href="http://k-60.de/" target="_blank" class="fa fa-k60 my-card-button">
          <i class="material-icons">home</i>
        </a>
        <a md-raised-button href="tel:+4961519184488" class="fa fa-k60 my-card-button">
          <i class="material-icons">phone</i>
        </a>
        <a md-raised-button href="mailto:darmstadt@k-60.de" class="fa fa-k60 my-card-button">
          <i class="material-icons">mail</i>
        </a>
        <a md-raised-button href="https://www.google.de/maps/place/K60+Billard+Lounge/@49.8791351,8.6413823,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd708b826e72bd:0xd2ae6e41b59931bd!8m2!3d49.8791351!4d8.643571"
        target="_blank" class="fa fa-k60 my-card-button">
        <i class="material-icons">navigation</i>
        </a>
      </div>
      <div class="my-card-button-container">
        <a md-raised-button href="https://www.facebook.com/K60-Billard-Lounge-121806337864864/" target="_blank" class="fa fa-facebook my-card-button"></a>
        <a md-raised-button href="https://twitter.com/k60darmstadt" target="_blank" class="fa fa-twitter my-card-button"></a>
        <a md-raised-button href="https://plus.google.com/+k60darmstadt" target="_blank" class="fa fa-google-plus my-card-button"></a>
      </div>
    </md-card-content>
  </md-card>
</div>
