<div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="5px"
  >
  <md-card class="player-profile-card">
    <md-card-header>
      <img md-card-avatar src="{{ (currentPlayer$ | async)?.photoURL }}">
      <md-card-title>{{ (currentPlayer$ | async)?.name }}</md-card-title>
      <md-card-subtitle>{{ (currentPlayer$ | async)?.league }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Here comes the player statistics</p>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star_half</i>
      <i class="material-icons">star_border</i>
      <i class="material-icons">star_border</i>
      <p>{{ (currentPlayer$ | async)?.uid }}</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>Bearbeiten</button>
    </md-card-actions>
  </md-card>
</div>