<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item>
        <h4>Social Media</h4>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="app-toolbar-filler"></span>
    
    tvebapp

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>
</md-sidenav-container>