<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-nav-list>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['']">Home</a>
      <a *ngFor="let navItem of navItems" md-list-item (click)="sidenav.close()" [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['about']">Über uns</a>
    </md-nav-list>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
      <span class="app-toolbar-filler"></span> tvebapp{{environmentName}}
      <span class="app-toolbar-filler"></span>
    </md-toolbar>
  </div>
  <router-outlet></router-outlet>
</md-sidenav-container>
