.example-card {
    margin-top: 20px;
    /* width: 300px; */
    /* background-color: #a5d6a7; */
}

.example-header-image {
    /* background-image: url('../../../assets/img/examples/shiba1.jpg'); */
    background-size: cover;
}