/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';

body {
    font-family: Roboto;
}

.header {
    margin-top: 10px;
    text-align: center;
    color: #4caf50;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.subheader {
    margin-top: 10px;
    text-align: center;
    color: #4caf50;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* text-shadow: 1px 1px black; */
}

.text {
    margin-top: 10px;
    text-align: center;
    color: #4caf50;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* text-shadow: 0.5px 0.5px black; */
}

.user-icon {
    border-radius: 50%;
    min-height: 24px;
    max-height: 48px;
    height: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-item {
    padding: 20px;
    margin: 20px;
    line-height: 50px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.flex-item-icon {
    padding: 10px;
    margin: 10px;
    /* line-height: 200px; */
    margin-top: 10px;
    /* width: 200px; */
    /* height: 200px; */
}

.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
}
/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}
