<!-- <div class="container" [ngStyle]="
    {
      'background-image' : 'url(/assets/images/HeinerOpen.jpg)',
      'background-repeat' : 'no-repeat',
      'width' : '100%',
      'opacity' : '0.6'
    }" fxLayout fxLayoutAlign="center" fxFlexFill> -->
    <div [ngStyle]="
    {
      'background': 'linear-gradient(0deg, rgba(255, 255, 255, 0.5), 
      rgba(255, 255, 255, 0.5)), 
      url(/assets/images/HeinerOpen.jpg) top center / cover no-repeat'
    }" fxFlexFill>
  <div class="subcontainer" [ngStyle]="
        {
          'opacity' : '1'
        }">
    <div *ngIf="authenticated$ | async">
      <div class="flex-home-container">
        <button [@flyInOut]="'in'" md-raised-button class="flex-home-button" [routerLink]="['/players']">Gegner suchen</button>
        <button [@flyInOut]="'in'" md-raised-button class="flex-home-button" [routerLink]="['/invites']">Herausforderungen</button>
      </div>
    </div>
  </div>
  <!-- invites -->
  <!--
<div *ngFor="let invite of invites$ | async">
  <i class="material-icons">insert_invitation</i> Herausforderung
</div>
<div class="flex-home-container">
  <button [@flyInOut]="'in'" md-raised-button class="flex-home-button" class="flex-home-button">8 Ball</button>
  <button [@flyInOut]="'in'" md-raised-button class="flex-home-button">9 Ball</button>
  <button [@flyInOut]="'in'" md-raised-button class="flex-home-button">10 Ball</button>
  <button [@flyInOut]="'in'" md-raised-button class="flex-home-button">14/1 Endlos</button>
</div>
-->